@import '../../style/variables.scss';

.select-option {
	margin: 4px 0 0;

	&__label {
		display: block;
		// height: 18px;
		color: $--Primary;
		font: {
			family: $--Font-Primary;
			size: 20px;
			weight: 400;
			style: normal;
		}
		line-height: 23px; /* 115% */
	}

	&__error-message {
		color: $--Error;
		display: none;
		font: {
			family: $--Font-Primary;
			size: 12px;
			weight: 400;
			style: normal;
		}
	}

	&__error-message_show {
		display: inline-block;
		min-height: 24px;
	}
}
